<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--<context:component-scan base-package="bean"></context:component-scan>-->

    <!--<bean class="bean.Category">-->
        <!--<constructor-arg name="id" value="100"></constructor-arg>-->
    <!--</bean>-->

    <!--<bean class="bean.Category">-->
        <!--<constructor-arg index="0" value="100"></constructor-arg>-->
    <!--</bean>-->

    <!--<bean class="bean.Category" c:_0="100"></bean>-->

    <!--<bean class="bean.Category" c:id="100"></bean>-->

    <!--<bean class="bean.Category" >-->
        <!--<property name="cateId" value="100"></property>-->
    <!--</bean>-->

    <!--<bean class="bean.Category" p:cateId="100"></bean>-->

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/config.properties</value>
            </list>
        </property>
    </bean>


    <bean class="bean.Category" p:cateId="${cateid}"></bean>
</beans>
