<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
<div>
    <a th:href="@{/category/index}">首页</a>
    <form method="post" th:object="${cate}" th:action="@{/category/save}">
        <table>
            <tr>
                <td>id:</td>
                <td><input type="text" th:field="*{cateId}"></td>
            </tr>
            <tr>
                <td>name:</td>
                <td><input type="text" th:field="*{cateName}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="提交">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>